div, span {
    animation: gradient 4s ease infinite;
    //background: linear-gradient(-45deg, #f9fafa, #524c4c);
    background-image: linear-gradient(-45deg, #5c5a5a,  #adadad, #605b5b);
    background-size: 600% 600%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}